/*
|----------------------------------------------
| Header
|----------------------------------------------
*/

.header{
  background-image: linear-gradient(to right, #86cb2e, #37b637);
    .navbar-nav{
        margin-top: 8px;
    }
  //padding: 10px 0;
    .navbar-default{
        border: 0; 
        background: 0;
        margin-top: 15px;
    }
}