@charset "UTF-8";

/*
****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
-- compass


** GLOBAL
-- variables
-- placeholder
-- mixins
-- normalize
-- reset
-- fonts
-- animations

** MODULES
-- helpers
-- grid
-- menu
-- form
-- tabelas
-- listas
-- tabs
-- tooltip
-- modal
-- box
-- galerias

** SECTIONS
-- header
-- footer
-- inner content

** CUSTOM SECTIONS
--

****
****

*/


// **
// FRAMEWORK'S CSS
// **
@import "compass";


// **
// GLOBAL
// **
@import "global/animate";
@import "global/variables";
@import "global/placeholder";
@import "global/mixins";
@import "global/normalize";
@import "global/reset";
@import "global/fonts";
//@import "global/animations";

// **
// MODULES
// **
@import "modules/helpers";
@import "modules/bootstrap";
@import "modules/grid";
@import "modules/menu";
@import "modules/form";
@import "modules/tabelas";
@import "modules/listas";
@import "modules/tabs";
@import "modules/tooltip";
@import "modules/modal";
@import "modules/box";
@import "modules/galerias";
@import "modules/buttons";
@import "modules/fancybox";


// **
// SECTIONS
// **
@import "sections/header";
@import "modules/menu";
@import "sections/footer";
@import "sections/inner-content";
@import "sections/query";

//**
// FRAMEKORS
//**

// **
// CUSTOM SECTIONS
// **


#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*
*  Owl Carousel - Animate Plugin
*/
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/*
*  Core Owl Carousel CSS File
*/

.owl-theme .owl-controls{
  top:-350px;
  text-align: center;
  position: relative
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//setas
.owl-next, .owl-prev{
  @include size(45px);
  cursor: pointer;
  border-radius: 100%;
  @extend .img-rep;
}
.owl-prev{
  background:url('../images/prev.png') center no-repeat;
  margin-left:10px;
  float: left;
}
.owl-next{
  background:url('../images/next.png') center no-repeat;
  margin-right:20px;
  float: right;
}


.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/
body, p{
  font-family: 'Montserrat', sans-serif;
}
section{
  padding-top: 50px;
}

.nav-total  {
  height:60px;
  width: 100%;
}
.f-nav  {
  z-index: 9999;
  position: fixed;
  top: 0; width:100%;
}
nav  {
  position: fixed;
  z-index: 5;
  width:100%;
  height:60px;
  margin:0 auto;
  background-color: white;
  img{
    width: 65px;
    height: 65px;
  }

}

nav ul  li{
  display:inline;
  float:left;
}
nav ul li a,
nav ul li a:visited  {
  color:#333;
  font-family: 'Electrolize', sans-serif;
  font-size:14px;
  text-transform:uppercase;
  float:left;
  font-weight:bolf;
  margin:0 10px 0 5px;
  line-height:60px;
}
nav ul li a:hover  {
  color:#437CB6;

}
@media screen and (max-width: 1200px) {

  nav ul li a{
    font-size: 10px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 992px){
  ul{
    background-image: url(../images/menu/menu.png);
  }
}
/******classe estática******
.nav-total{
height:60px;
background: url(img/bg-nav.jpg) repeat-x;
}
/******classe que será adicionada fazendo flutuar o menu******</p>
.f-nav<span class="Apple-converted-space">  </span>{</p>
z-index: 9999;
position: fixed;
top: 0; width:100%;
}
/*nav*/

.slider {
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  height: 650px;
  background-color: #ccc;
  margin: 0 auto;
  .cadastro{
      box-shadow: 0px 0px 17px 5px black;
      border: 5px solid #9575cd;
    position: relative;
    z-index: 4;
    margin-top: 100px;
    margin-left: 60%;
    width: 400px;
    height: 450px;
    background-color: #cdcdcd;
      h2{
          margin-top: 0px !important;
          margin-bottom: 30px;
          background-color: #9575cd;
          color: lightblue!important;
          padding-top: 10px;
          padding-bottom: 20px;
      }
      a{
          margin-left: 0px;
          background-color: #9575cd !important;
      }
    //box-shadow: 0px 0px 2px 2px lightblue;
    .dist{
        margin-left: 5%;
        padding-top: 50px;
        text-align: center;
        label{
            font-size: 15px;
            color: #9575cd;
        }
      input{
          margin-left: 30px;
          background-color: white;
          box-shadow: 0px 0px 5px 2px black;
        width: 250px;
        height: 50px;
      }
    }
  }
}

.slider_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  z-index: 100;
}

.slideBtn {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.slideBtn.active {
  opacity: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide_content {
  position:absolute;
  left:20%;
  top:30%;
  padding:20px;
  background-color: rgba(0,0,0,.4);
  border-radius:3px;

}

.slide_content > * {
  color:white;
  opacity:1;
}

.slide.active {
  opacity: 1;
}

.secondary_nav {
  position:absolute;
  top: 0;
  width:15%;
  height:100%;
  z-index:500;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  cursor:pointer;
  color:white;
  font-size:4rem;
}

.secondary_nav:hover{
  opacity:0.8;
}

.backBtn {
  left:0;
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.backBtn:before {
  content:'\02039';
  position:absolute;
  top:50%;
  left:25%;
  transform: translateY(-60%);
}

.fwdBtn {
  right:0;
  background: linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0));
}

.fwdBtn:before {
  content:'\0203A';
  position:absolute;
  top:50%;
  right:25%;
  transform: translateY(-60%); /*bump it back up half its height*/
}


.image1 {
  background-image: url(../../build/images/imagens_m/header05.png);
}

.image2 {
  background-image: url(../../build/images/imagens_m/header01.png);
}

.image3 {
  background-image: url(../../build/images/imagens_m/header06.png);
}
.header{
  width: 100%;
  height: 659px;
  background-image: url(../images/foto3.jpg);
}
.quemsomos{
  /*background-color: #e0e0e0;*/
  padding-bottom: 0px;
  p{
    line-height: 1.3;
    font-size: 20px;
  }
}
h2{
  color: #9575cd !important;
  text-align: center;
  font-size: 40px !important;
  margin-bottom: 50px;
}
p{
  color: black !important;
}
.elemento{
  background-color: #9575cd;
}
.convecimento{
  .perfil{
    width: 150px;
    height: 150px;
    background-color: #9575cd !important;
    border-radius: 150px;
    margin-bottom: 15px;
    margin-left: 100px;
    &:hover{
      background-color: #7595cd !important;
      border: 7px solid white;
    }
  }
  img{
    margin-left: 15px;
    width: 80%;
    height: 90%;
    margin-top: 7px;
  }
  .especial{
    height: 100px;
    width: 100px;
    margin-top: 19px;
    margin-left: 23px;
  }
  h4{
    color : #9575cd;
    text-align: center;
    font-size: 17px;
    margin-bottom: 25px;
  }
  p{
    text-align: center;
    margin-bottom: 50px;
  }
}
.explica{
  /*background-color: #e0e0e0;*/
  p{
    margin-bottom: 50px;
  }
}
.contrato{
  .compra{
    background-color: white/*teal*/;
    width: 280px;
    margin-left: 35px;
    height: 460px;
    border-radius: 20px;
    display: inline-block;
    h2{
      text-align: center;
      color: white;
      font-size: 37px !important;
      margin-bottom: 20px !important;
    }
    h3{
      text-align: center;
      color: black;
      font-size: 29px;
    }
    ul,li{
      margin-left: 25px;
      width: 80%;
      font-size: 16px;
      text-align: center;
      color: black;
      border-bottom: 1px solid #9575cd !important;
      margin-bottom: 13px;
    }
    a{
      margin-left: 103px;
      background-color: #9575cd !important;
    }
  }
}
//*testimols*//
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* ---------------------- */
/*       TESTIMONIAL      */
/* ---------------------- */
.parallax-section{
  /*background-color: #e0e0e0;*/
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#testimonial{
  margin-top: 50px;
  padding: 130px 0 95px;
  background-image: url(../images/bg-testimonial.jpg);
}
#testimonial .overlay{
  /*background: #e0e0e0;*/
}
.ts-testimonial-slide{
  text-align: center;
  color: #ffffff;
  width: 85%;
  margin: 0 auto;
}
.ts-testimonial-slide p{
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-family: 'Droid Serif';
  margin-bottom: 35px;
}
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}
.ts-testimonial-slide .ts-testimonial-item .icon-client{
  background: #ffffff;
  width: 29px;
  height: 29px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 29px;
  margin-top: 2px;
}
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}
.ts-testimonial-slide .ts-testimonial-item  .client-name{
  padding-left: 38px;
  font-size: 12.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  display: block;
  line-height: normal;
  white-space: nowrap;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position{
  font-size: 12px;
  font-style: italic;
  line-height: normal;
  padding-left: 38px;
  display: block;
  text-align: left;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a{
  color: white;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a:hover{
  color: #5ed9e7;
}


//*testimols*//
.sociais{
  margin-bottom: 50px;
  width: 100%;
  color: black;
  float: left;
  /* The image used
  background-image: url('../images/midias.png');

  /* Full height
  height: 100%;

  /* Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1024px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  h4{
    font-size: 32px;
    text-align: center;
    color: #7595cd !important;
  }
}
/* -- Row 2 Styles --------- */
.photo {
  position: relative;
  line-height: 0;
  overflow: hidden;
  margin-bottom: 2.5em;
  width: 100%;
  height: 100%;
  img{    width: 100%;}

  h2{
    color: white !important;
    margin-bottom: 30px;
  }
  p{
    color: white !important;
    font-size: 19px;
  }
}
.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .5);
}
.photo-overlay h2 {
  margin-top: 0;
}
/* -- Row 2 --------- */
.photo-overlay {
  opacity: 0;
  transition: opacity .5s;
}
.photo-overlay:hover {
  opacity: 1;
}
.photo img {
  transform-origin: 0 0;
}
.photo:hover img {
  transform: scale(1.2);
}
/* =================================
Media Queries
==================================== */
@media (min-width: 0) and (max-width: 768px) {
  .container {
    padding: 0 1.225em 2.5em;
  }
}
@media (min-width: 1024px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo-container {
    margin-bottom: 3em;
    text-align: center;
    height: 350px;
    width: 100%;
    flex-grow: 1;
  }
  @media (min-width: 1600px) {
    .photo-container {
      margin-bottom: 4em;
      width: 30%;
    }
  }
}
p{
  text-align: center;
}
.footer{
  margin-top: 50px;
  background-color: #212121;
  color: white;
  margin-bottom: auto !important;
  .info{
    margin-left: 90px;
  }
  .contato{
    margin-bottom: 50px;
    ul ,li{
      text-align: center;
    }
    .icones{
      margin-left: 70px;
      i{
        display: inline-block;
      }
    }
    p{
      text-align: center;
    }
  }
  h5{
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
  }
  a{
    color: white !important;
    &:hover{
      background-color: #212121 !important;
    }
  }
  p{
    text-align: center;
    color: white !important;
  }
}
.form{
    background-color: white;
    padding-top: 70px;
    .caixa{
        box-shadow: 3px 3px 17px 2px black;
        border: 4px solid #9575cd;
        background-color: white;
        width: 100%;
        height: auto;
    .formulario{
       margin-top: 20px;
        input{
            border: 2px solid #9575cd;
        }
    }
        button{
            background-color: #9575cd;
            margin-left: 70%;
            margin-bottom: 30px;
        }
  }
}

/**/
.link-center{
  width: 15%;
  margin: 35px auto;
  @extend %center;
  padding: 10px 0;
  border:1px solid $cl3;
  font: ft-convert(14) $ft2;
  text-align: center;
  &:hover{
    border:1px solid $cl2;
    color: $cl2;
  }
}

.img-crop{
  display: block;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  img{
    margin-bottom: 7px;
    //width: 100%;
  }
}

/* classes constants */
.dn {display:none;}
.db {display:block;}
.img-rep {display:block; overflow:hidden; text-indent:-9999px;}
.fl-lf {float:left;}
.fl-rg {float:right;}
.mr-lf {margin-left:0;}
.mr-bt {margin-bottom:0;}

/* mudar selecao */
::-moz-selection {color:#000; background:#d74a2c; text-shadow:none;}
::selection {color:#000; background:#d74a2c; text-shadow:none;}




*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/* css micro clearfix */
.cf{@extend %clearfix}




/* css micro clearfix */
/*
.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}
for ie 6/7 (trigger haslayout)

.cf {zoom:1;}

*/
