/*
|----------------------------------------------
| Buttons
|----------------------------------------------
*/


/*estilo botão*/
.button{
    display:inline-block;
    *display:inline;
	padding:10px 20px;
	margin-bottom:10px;
	font: ft-convert(14) 'open_sansregular'; 
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	/*border-color:#eeeeee,#dedede,#dedede;*/
    border-radius:6px;
    background: #8e8e8e;
	border-bottom:2px solid #717171;
    &:hover{
        background: #a0a0a0;
    }
}


.green{
	background:$cl4;
    border-bottom: 2px solid $cl5;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51A351', EndColorStr='#388138');
    &:hover{
	    background: #8eaf30;        
    }
    &:active{
	    background:$cl5;        
    border-bottom: 2px solid $cl4;
    }
}

.blue{
	background: #272b6f;
    border-bottom:2px solid #1f2258;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51A351', EndColorStr='#388138');
    &:hover, &:active{
	background: #2f3374;
    }
}
